// Place all the styles related to the admin_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-circle-3d {
 width: 12px;
  height: 12px;
  border-radius: 50%;
}

